<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="logo navbar-brand mx-7" routerLink="/dashboard">
        <img src="../../../assets/imagenes/logo_ragasa.png" alt="Dashboard" width="100" height="70" class="d-inline-block align-center">
      </a>
      <button type="submit" class="btn btn-light navbar-text" routerLink="/login">
        Cerrar sesión
      </button>
    </div>
</nav>

<div class="mx-auto align-text-center mt-3">
<p class="text-center fs-2 fw-bold">Información</p>
  <p class="text-center">
    Este dashboard da información al área de comercial sobre las ventas mensuales y totales.
    <br>
    Así como pronóstico de las ventas de los próximos meses.
    <br>
    Se muestran gráficos, tablas y apoyos visuales para mejor entendimiento y análisis.
  </p>
  <p class="text-center fw-semibold">
    Da clic en el siguiente botón para ir al dashboard
   </p>
</div>

<div class="d-grid d-md-flex mx-auto justify-content-md-center mt-3">
  <button type="button" class="btn btn-outline-success btn-lg rounded-4 shadow w-50"
          style= "background-color: #b7d3a4" routerLink="/nuevo-proyecto">
    <h1 class="fw-semibold m-5">BI</h1>
    <i class="fa-solid fa-chart-line fs-1 m-2 mb-5"></i>
  </button>
</div>