<div class="wrapper">
  <div *ngIf="!loading" class="body">
    <a class="logo navbar-brand mx-7" routerLink="/dashboard">
      <img src="../../../assets/imagenes/logo_ragasa.png" alt="Dashboard" width="270" height="200" class="d-inline-block align-center">
    </a>
    <br><br>
    <h3>Recuperar contraseña</h3>
    <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="name@example.com"
        />
        <label>Email</label>
        <span
          *ngIf="
          recuperarUsuario.get('email')?.hasError('required') &&
          recuperarUsuario.get('email')?.touched
          "
          class="text-danger errorlabel"
        >
          El <strong>correo</strong> es requerido.
        </span>

        <span
          *ngIf="
          recuperarUsuario.get('email')?.hasError('email') &&
          recuperarUsuario.get('email')?.touched
          "
          class="text-danger errorlabel"
        >
          El <strong>correo</strong> es inválido.
        </span>
      </div>
      <div class="d-grid gap-2 mb-3">
        <button type="submit" [disabled]="recuperarUsuario.invalid" class="btn btn-primary btn-lg">Recuperar</button>
      </div>
      <a routerLink="/login">Volver</a>
    </form>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>