<div class="wrapper">
    <div class="body">
      <a class="logo navbar-brand mx-7" routerLink="/dashboard">
        <img src="../../../assets/imagenes/logo_ragasa.png" 
        alt="Dashboard" width="270" height="200" 
        class="d-inline-block align-center">
      </a>
      <br>
      <h4 class="mb-5">Te enviamos un correo de verificación</h4>
      <div class="d-grid gap-2 mt-5">
        <button type="button" class="btn btn-primary btn-lg" routerLink="/login">Volver</button>
      </div>

    </div>
  </div>