<nav class="navbar bg-light mb-3">
  <div class="container-fluid">
    <button type="submit" class="btn btn-light navbar-text" routerLink="/dashboard">
      <i class="fa-solid fa-arrow-left mx-3" style="color: #000000;"></i>
    </button>
    <a class="logo navbar-brand mx-7" routerLink="/dashboard">
      <img src="../../../assets/imagenes/logo_ragasa.png" alt="Dashboard" width="100" height="70" class="d-inline-block align-text-center">
    </a>
    <button type="submit" class="btn btn-light navbar-text" routerLink="/login">
      Cerrar sesión
    </button>
  </div>
</nav>

<iframe title="CPFR's" width="1400" height="517.75" 
src="https://app.powerbi.com/reportEmbed?reportId=11c64117-455b-427b-ada8-ff1ec2911ec8&autoAuth=true&ctid=ba8df2bc-0164-4ff0-baf8-5f648475d28c" 
frameborder="0" allowFullScreen="true"></iframe> 