html, body {
    height: 100%;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: f5f6f6;
}


.body {
    width: 80%;
    max-width: 330px;
    margin: auto;
    padding: 15px;
    text-align: center;
}

.form-floating {
    text-align: start;
}

.errorlabel{
    margin-left: 5px;
}

.logoInt{
    height: 80px;
    margin-bottom: 10px;
    margin-right: 10px;  
}

.botonMenu{
    height: 300px;
    width: 800px;
    background-color: #b7d3a4;
    margin-right: 20px;
    margin-left: 300px;
    border-radius: 5%;
}